<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Robot Cafe</title>
    <!-- CSS  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="/stylesheets/materialize.css"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
    <link
      href="/stylesheets/style.css"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
  </head>

  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Robot Cafe</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">dashboard</a></li>
            {{#if loggedIn}}
              <li>
                <button id="logout" class="btn-no-style">logout</button>
              </li>
            {{else}}
              <li><a href="/login">login</a></li>
            {{/if}}
          </ul>
        </div>
      </nav>
    </header>
    <main class="container my-5">
      <section class="content-wrap page-container">
        {{{body}}}
      </section>
    </main>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Thanks for visiting!</h5>
          </div>

        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">

          <a class="grey-text text-lighten-4 right" href="#!"></a>
        </div>
      </div>
    </footer>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/javascript/materializeJS/materialize.js"></script>
    <script src="/javascript/materializeJS/init.js"></script>
  </body>

</html>