<div class="container">
  <div class="section">
    <div class="content-wrap page-container">
      <div class="row">
        <section class="new-post-form post-section">
          <h2>Create New Post</h2>
          <button type="submit" class="btn add-post">New Post</button>
        </section>
        {{#if posts.length}}
          <section class="section">
            <h2>Your Posts</h2>
            <div class="row">
              {{#each posts as |post|}}
                <div class="col s12 m6 l6">
                  <div class="flex-row justify-space-between">
                    {{> post-info post}}
                    <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit
                      post</a>
                  </div>
                </div>
              {{/each}}
            </div>
          </section>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<script src="/javascript/add-post.js"></script>